@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-image: url(./img/app-background.jpg);
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items:flex-start;
}

.gettime-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  cursor: pointer;
}

li {
  margin-right: 30px;
}

.Food {
  padding: 100px;
  background-color: white;
  border-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  width: 50px;
  outline: none !important;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #333B3E;
  text-align: center;
  font-size: 1rem;
  margin: 1rem
}

p {
  color: #333B3E;
  font-weight: bold;
  font-size: 1.3rem;
}

.Submit-button {
  width: 100%;
  outline: none !important;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #333B3E;
  background: #333B3E;
  text-align: center;
  font-size: 1rem;
  display: block;
  color: #FEFBF2;
  margin-top: 1rem;
}

.App-Results {
  margin-top: 1rem;
}

.inputcontainer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.single-inputfield {
  width: 180px;
}

.App-Gettime {
  flex: 1;
  color: #333B3E;
  width: 350px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  position: relative;
  transition:all 0.3s ease;
  animation: 2s move;
  padding: 3%;
}

.Result {
  font-size: 1.3rem;
  text-align: center;
}

.Result-number {
  color: #94985C;
  margin-top: 1rem;
}

@keyframes move {
  from {
      left: -105%;
  }
  to {
      left: 0%;
  }
}
